@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-albert:  "Albert Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

.font-albert {
  font-family: var(--font-albert);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-albert-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
